<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>HotelTrip</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="/css/not-found.css">
    <link rel="stylesheet" href="/css/admin-view.css">
    <link rel="stylesheet" href="/css/all-hotel-view.css">
    <link rel="stylesheet" href="/css/hotel-detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/ea9f3704a7.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:fragment="navbar" id="title">
    <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">HotelTrip</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <th:block sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link active"
                               th:href="@{/users/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"
                               th:href="@{/users/register}">Register</a>
                        </li>
                    </th:block>

                    <div class="my-2 my-md-0 px-3">
                        <a sec:authorize="hasRole('USER')" th:text="${#authentication.principal.getFullName}"
                           class="nav-link active" th:href="@{/users/profile/}">PROFILE
                        </a>
                    </div>
                    <div class="my-2 my-md-0 px-3">
                        <a sec:authorize="hasRole('ADMIN')"
                           class="nav-link active" th:href="@{/admin}">Admin Page
                        </a>
                    </div>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="my-2 my-md-0 px-3">
                            <form th:action="@{/users/logout}" th:method="post">
                                <input class="btn btn-link nav-link" type="submit" value="Logout">
                            </form>
                        </div>
                    </li>
                </ul>
                <!--                <form class="d-flex">-->
                <!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--                    <button class="btn btn-outline-primary btn-search" type="submit">Search</button>-->
                <!--                </form>-->
            </div>
        </nav>
    </div>
</header>
<footer th:fragment="footer" class="d-flex flex-column footer">
    <div class="container-fluid text-center">
        <p>© Copyright TripHotel</p>
    </div>
</footer>
</body>
</html>