<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
    <meta charset="UTF-8">
    <title>TripHotel</title>
</head>
<body>
<header th:fragment="navbar" id="title">
    <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="">HotelTrip</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nabarCollapse"
                    aria-controls="nabarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nabarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-link">
                        <a class="nav-link active nav-text" href="/users/login">Login</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link active nav-text" href="/users/register">Register</a>
                    </li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-link">
                        <a class="nav-link active nav-text" href="/users/logout">Logout</a>
                    </li>
                    </th:block>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary btn-search" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>
</body>
</html>