#title {
    background-color: #1363DF;
    color: #fff;
    text-align: left;
    position: relative;
    padding: 0.5rem 1.5rem;
}
.navbar-brand {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.nav-text {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 500;
}

/*.btn-search {*/
/*    background-color: #fff;*/
/*}*/

/*.btn-search:hover {*/
/*    background-color: #fff;*/
/*    color: black;*/
/*}*/