body {
    font-size: 20px;
    width: 100%;
    background-color: #f4f5f7;
}

.profile-info {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: 30px;
}

.tittle-text {
    font-size: 20px;
}