body {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
}

.profile-info {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.tittle-text {
    font-size: 20px;
}