<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>

<div class="container-fluid admin-view">
    <div class="row w-50 admin-btn">
        <a th:href="@{/admin/all-users}" type="button" class="btn btn-lg btn-explore">View all users</a>
    </div>
    <div class="row w-50 admin-btn">
        <a th:href="@{/admin/all-hotels}" type="button" class="btn btn-lg btn-explore">View all hotels</a>
    </div>
</div>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>