<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
    <meta charset="UTF-8">
    <title>HotelTrip</title>
</head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<form class="container" th:each="h : ${hotel}"
      th:object="${h}">
    <div>
        <div class="card">
            <div class="container-fluid">
                <div class="wrapper row">
                    <div class="preview col-md-5">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img th:src="*{getHotelPictures()[0].getUrl()}" alt="hotel-img"/>
                            </div>
                            <div class="p-3">
                                <i class="fa-solid fa-wifi icons"></i>
                                <i class="fa-solid fa-square-parking icons"></i>
                                <i class="fa-solid fa-mug-saucer icons"></i>
                                <i class="fa-solid fa-martini-glass-empty icons"></i>
                                <i class="fa-solid fa-ban-smoking icons"></i>
                            </div>
                        </div>
                    </div>
                    <div class="details col-md-7">
                        <h3 class="hotel-tittle" th:text="*{hotelName}"></h3>
                        <div class="rating">
                        </div>
                        <p class="hotel-description" th:text="*{description}"></p>
                        <div class="action">
                            <button class="btn btn-primary btn-outline-primary" type="button">
                                <a class="text-decoration-none text-white"
                                   th:href="@{/hotels/hotel-details/{hotelName}/(hotelName=*{hotelName})}">
                                    See Hotel</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>