<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
    <meta charset="UTF-8">
    <title>HotelTrip</title>
</head>
<body>
<header th:replace="fragments/commons::navbar"></header>

<div class="explore-col explore-col-custom col-lg-4 col-md-6">
    <div class="col-auto" th:each="h : ${hotel}">
        <div class="col-auto" th:text="*{h.hotelName}"></div>
        <br>
        <p class="col-auto" th:text="*{h.description}"></p>
    </div>

</div>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>