<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<div class="d-flex container justify-content-center">
    <form th:method="post"
          th:action="@{/users/profile/update}"
          th:object="${userProfilePictureAddBindingModel}"
          enctype="multipart/form-data"
          class="row-cols-auto">
        <div class="row-cols-sm-auto">
            <br>
            <h5>Profile picture</h5>
            <br>
            <input th:field="*{profilePictureUrl}"
                   type="file" id="profilePictureUrl"
                   class="form-control form-control-lg"/>
            <small th:if="${#fields.errors()}"
                   th:text="${error}"
                   class="text-danger"></small>
        </div>
        <br>
        <div class="col-auto d-flex justify-content-center mb-5">
            <button type="submit"
                    class="btn btn-primary">
                Update
            </button>
        </div>
    </form>
</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>