<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::navbar"></header>

<div th:object="${user}"  class="profile-info">
    <div class="container-fluid  d-xl-block">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <th:block th:if="*{profilePictureUrl!=null}">
                                <img th:src="*{profilePictureUrl}" alt="Avatar" class="img-fluid my-5"
                                     style="width: 150px;
                                     border-radius: 50%;">
                                <br>
                                <a class="btn btn-danger" th:href="@{/users/profile/edit/picture/delete}">Delete
                                    picture</a>
                            </th:block>
                            <th:block th:if="*{profilePictureUrl == null}">
                                <img th:src="@{https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp}"
                                     alt="Avatar" class="img-fluid my-5" style="width: 100px;"/>

                                <form th:method="post"
                                      th:action="@{/users/profile/edit/picture}"
                                      th:object="${userProfilePictureAddBindingModel}"
                                      enctype="multipart/form-data"
                                      class="row-cols-auto">
                                    <div class="row-cols-sm-auto">
                                        <input th:field="*{profilePictureUrl}"
                                               type="file" name="picture"
                                               class="form-control form-control-sm"/>
                                        <small th:if="${#fields.hasAnyErrors()}"
                                               id="profilePictureUrl"
                                               th:text="${error}"
                                               class="form-text alert-danger rounded"></small>
                                    </div>
                                    <br>
                                    <div class="col-auto d-flex justify-content-center mb-4">
                                        <button type="submit"
                                                class="btn btn-outline-primary">
                                            Update
                                        </button>
                                    </div>
                                </form>
                            </th:block>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6 class="profile-info">Information</h6>
                                <hr class="mt-0 mb-4">
                                <form th:method="post"
                                      th:action="@{/users/profile/edit/}"
                                      th:object="${userProfileUpdateBindingModel}">
                                    <div class="row pt-1">
                                        <div class="row mb-3">
                                            <label for="name" class="tittle-text">First Name</label>
                                            <input id="name"
                                                   name="name"
                                                   th:field="*{firstName}"
                                                   class="form-control here" type="text">
                                        </div>
                                        <div class="row mb-3">
                                            <label for="lastName" class="tittle-text">Last Name</label>
                                            <input id="lastName"
                                                   name="lastName"
                                                   th:field="*{lastName}"
                                                   class="form-control here" type="text">
                                        </div>
                                        <div class="row mb-3">
                                            <label for="email" class="tittle-text">Email</label>
                                            <input id="email"
                                                   name="email"
                                                   th:field="*{email}"
                                                   th:errorclass="'is-invalid alert-danger'"
                                                   class="form-control here" type="text">
                                            <small class="invalid-feedback text-danger"
                                                   th:if="${#fields.hasErrors('email')}"
                                                   th:errors="*{email}"></small>
                                        </div>
                                    </div>
                                    <div class="form-group row p-1">
                                        <div class="offset-4 mt-2 col-8">
                                            <button type="button" class="btn btn-secondary" onclick="cancel()">Back
                                            </button>
                                            <button name="submit" type="submit" class="btn btn-primary">Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<footer th:replace="fragments/commons::footer"></footer>
<script type="text/javascript">
    function cancel() {
        window.history.back();
    }
</script>
</body>
</html>